@font-face {
    font-family: 'Aperto';
    font-style: normal;
    font-weight: normal;
    src: local('Aperto'), url('ApertoRegular.otf') format('otf');
}

body {
    font-family: "Aperto", SansSerif;
    font-size: 25px;
    line-height: 25px;
    background-color: #ffffff;
}

.main-nav {
    text-align: right;
}

li {
    display: inline-block;
    padding-right: 25px
}

li:nth-child(3) {
    padding-right: 0;
    margin-left: 25px;
}

li:last-child {
    padding-right: 0;
    margin-left: 25px;
}

a {
    color: #262627;
    text-decoration: none;
}

a:hover {
    color: #262627;
    border-bottom: 1px solid #262627;
    text-decoration: none;
}

h2 {
    font-size: 62px;
    line-height: 62px;
    margin: 50px 0 20px 0;
}

.container-fluid {
    padding-left: 50px;
    padding-top: 50px;
}

.my-btn {
    background-color: #262627;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 12px 22px;
    font-size: 25px;
    line-height: 25px;
}

.my-btn:hover {
    background-color: #262627;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.color-light {
    background-color: #F1ECE4;
    overflow: hidden;
}



.color-dark {
    background-color: #262627;
    color: #ffffff;
    overflow: hidden;
}

.color-dark a {
    color: #fff;
}

.color-dark a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.logo {
    font-size: 40px;
    line-height: 40px;
}



.imgs {
    position: relative;
    max-width: 700px;
    margin-left: 100px;

}

.img1 {
    height: 350px;
    width: 423px;
    position: absolute;
    top: 0;
    left: 150px;
    z-index: 3;
}

.img2 {
    height: 289 px;
    width: 385px;
    position: absolute;
    top: 170px;
    left: 350px;
    z-index: 2;
}

.img3 {
    height: 326px;
    width: 428px;
    position: absolute;
    top: 200px;
    left: 0;
}

.header {
    height: 786px;
    width: 100%;
}

.row2 {
    padding-top: 40px;
}

.main-text {
    height: 650px;
    font-size: 62px;
    line-height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cv {
    position: relative;
}

.cv::after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 25px;
    background-image: url(img/download_icon.svg);
    background-size: 15px 15px;
}

.tab-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.facts {
    padding-top: 20px;
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 100px 0 20px 0;
}


.copyright p {
    text-align: center;
    color: #686868;
    font-size: 20px;
    margin-bottom: 50px;
}

.social-media a:hover {
    text-decoration: none;
    border-bottom: none;
}

.social-media img:hover {
    transform: scale(1.2);
    transition: transform 2s;
}

.tab-content:not(.current) {
    display: none;
}


.tabs {
    padding-left: 0;
 }

.project-nav {
    padding: 20px 0 40px;
}

.project-nav li {
    padding: 0 25px 0 0;
    margin-left: 0;
}

.project-nav a:hover {
    color: #ffffff;
    border-bottom: 1px solid #fff;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.2);
    z-index: 4;
}

#form {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 700px;
    padding: 20px;
}

.form-control:focus {
    border-color: #F0ECE5;
    box-shadow: none;
}

button:focus {
    outline: none;
}

.nav-toggle input {
    display: none;
}



@media only screen and (max-width:768px) {
    .tab-content .col-md-auto {
        display: none;
    }

    .imgs {
        display: none;
    }

    .hidden {
        display: none;
    }

    .container-fluid {
        padding-left: 15px;
    }



    .nav-toggle {
        display: block;
        position: absolute;
        top: 0;
        right: 30px;
        left: 30px;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    .nav-toggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -5px;
        right: -3px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    .nav-toggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        margin-left: auto;

        background: #262627;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    .nav-toggle span:first-child {
        transform-origin: 0% 0%;
    }

    .nav-toggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    .nav-toggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #262627;
    }

    .nav-toggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .nav-toggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    .nav-toggle ul {
        position: absolute;
        width: calc(100% + 60px);
        margin: -120px 0 0 -30px;
        padding: 125px 50px;
        font-size: 150%;

        background: #F1ECE4;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(0, -100%);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .nav-toggle li {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        display: block;
        padding: 10px 0;
    }

    .nav-toggle input:checked ~ ul {
        transform: none;
    }

    .cv::after {
        left: 40px;
        top: 8px;
    }
}